.btn-group.btn-group-xs
  %button.btn.btn-primary.dropdown-toggle.btn-xs{"data-toggle" => "dropdown", :type => "button"}
    File a Ticket
    %span.caret
  %ul.dropdown-menu{:role => "menu"}
    %li
      %a{:href => jira_url(@page, :issuetype => 4, :reporter => current_user.jira_name), :target => "_blank"}
        Suggest an improvement
    %li
      %a{:href => jira_url(@page, :issuetype => 1, :reporter => current_user.jira_name), :target => "_blank"}
        Report a bug
