%button.btn.btn-primary.dropdown-toggle.btn-xs.navbar-btn.btn-margin-left{"data-toggle" => "dropdown", :type => "button"}
  File a Ticket
  %span.caret
%ul.dropdown-menu{:role => "menu"}
  %li
    %a{:href => jira_url(@page, :issuetype => 4), :target => "_blank"}
      Suggest an improvement
  %li
    %a{:href => jira_url(@page, :issuetype => 1), :target => "_blank"}
      Report a bug
