- if current_user.try(:admin?)
  .btn-group.btn-group-xs
    %button.btn.btn-default
      - if @page.user.nil?
        Set Owner
      - else
        = link_to @page.user.handle, @page.user
    %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
      %span.caret
    %ul.dropdown-menu{:role => "menu"}
      - User.admins.each do |u|
        %li
          = link_to pages_set_page_owner_path(:page_id => @page.id, :user_id => u.id), :remote => true, :method => :post do
            = u.handle
      %li.divider
      %li
        = link_to pages_set_page_owner_path(:page_id => @page.id, :user_id => current_user.id, :action_id => "disown"), :remote => true, :method => :post do
          No Owner
    
        
 
