- @page.reload
- if @page.comments.size > 0
  - @page.comments.each do |c|
    .panel.panel-default
      .panel-heading
        %h5.panel-title
          Comment from
          = c.user.name
        %p.small
          = "Written on #{c.created_at.strftime('%Y-%m-%d')}"
      .panel-body
        != c.rendered_content
- else
  %p.text-primary.small
    There aren't any comments on this page. 
