%div.small.text-muted{:id => 'page_tags'}
  %div.glyphicon.glyphicon-tags{:style => 'float:left;margin-right:1em;'}
  - if @page.tag_list.size > 0
    - @page.tags.each do |t|
      .btn-group
        %button.btn.btn-default.btn-xs
          %a{:href => "/tags/#{t}"}
            =t
          =link_to pages_remove_tag_path(:page_id => @page.id, :tag => t.name), :method => :post do 
            &nbsp;
            %span.glyphicon.glyphicon-remove-sign
  - else
    No tags
  &nbsp;&nbsp;
  %button.btn.btn-link.btn-xs{:id => 'tags_toggle', "data-toggle" => "modal", "data-target" => "#tagsModal"}
    %span.glyphicon.glyphicon-plus-sign
    Add
%br
