.btn-group.btn-group-sm
  %a{:href => "/pages/#{@page.previous_page.id}", :class => "btn btn-primary"}
    %span.glyphicon.glyphicon-step-backward
    Previous Page
  %button.btn.btn-primary.button-content{:id => "composition_button", "data-toggle" => "tooltip", "data-placement" => "top", :title => "Toggle all but ordered lists and pre/code blocks" }
    %span{:id => "content-button", :class => "glyphicon glyphicon-eye-close"}
  %a{:href => "/pages/#{@page.next_page.id}", :class => "btn btn-primary"}
    Next Page
    %span.glyphicon.glyphicon-step-forward
