%table.table.sortable
  %thead 
    %tr
      %th
        Reviewed
      %th
        Priority
      %th
        Risk
      %th
        Page
      %th
        Tags

  %tbody        
    - pages.each do |page|
      = render :partial => "pages/pages_row", :locals => {:page => page}

    
  
