- if current_user.voted_up_on? @page
  = button_to 'Unflag This Page', {:controller => 'pages', :action => :toggle_page_vote, :page_id => @page.id}, {:class => 'btn-success btn btn-sm', :remote => true, :id => 'page_flag_button'}
- else
  = button_to 'Flag This Page', {:controller => 'pages', :action => :toggle_page_vote, :page_id => @page.id}, {:class => 'btn-danger btn btn-sm', :remote => true, :id => 'page_flag_button'}
