- levels = {"High" => 3, "Medium" => 2, "Low" => 1}
.btn-group.btn-group-sm
  != rank_button(page_id,"Priority")
  %ul.dropdown-menu{:role => "menu"}
    - levels.each do |l,n|
      %li
        =link_to pages_set_page_priority_path(:page_id => page_id, :priority => n), :remote => true, :method => :post do
          = l
