:javascript

  $(function() {
  $("#priority_button").click( function()
  {
     $("tr[data-priority=2]").toggle();
     $("tr[data-priority=1]").toggle();
    }
    );
  });

  $(function() {
  $("#risk_button").click( function()
  {
     $("tr[data-risk=2]").toggle();
     $("tr[data-risk=1]").toggle();
    }
    );
  });


  $( document ).ready(function() {
  $.bootstrapSortable(true);
  });
