- @title = @page.title

%h4= @page.title.gsub(/— Documentation — Puppet Labs/, "")

- if @page.get_upvotes.size > 0  
  %p.small.text-muted
    This page has been flagged by
    =page_voters(@page)

.btn-group.btn-group-sm
  %a{:href => "/pages/#{@page.previous_page.id}", :class => "btn btn-primary"}
    %span.glyphicon.glyphicon-step-backward
    Previous Page
  %button.btn.btn-primary.button-content{:id => "composition_button", "data-toggle" => "tooltip", "data-placement" => "top", :title => "Toggle all but ordered lists and pre/code blocks" }
    %span{:id => "content-button", :class => "glyphicon glyphicon-eye-close"}
  %a{:href => "/pages/#{@page.next_page.id}", :class => "btn btn-primary"}
    Next Page
    %span.glyphicon.glyphicon-step-forward

%div{:id => "imported_content"}
  != @page.content


:javascript
  $("pre").hover(
    function () {
      $(this).addClass('bg-info');
    }, function () {
      $(this).removeClass('bg-info');
  }
  );

  $("ol").hover(
    function () {
      $(this).addClass('bg-info');
    }, function () {
      $(this).removeClass('bg-info');
  }
  );
  
  $(function() {
  $("#composition_button").click( function()
  {
   var hide_elements=['blockquote','ul','dl','p','iframe','.toc','table'];
   for (var i = 0; i < hide_elements.length; i++) {
     $('#imported_content').find(hide_elements[i]).toggle();
     $('#imported_content').find('ol p').toggle();
    }

  $('#composition_button').toggleClass("button-content").toggleClass("button-uncontent");  
  $('#composition_button').toggleClass("btn-primary").toggleClass("btn-warning");
  $('#content-button').toggleClass('glyphicon-eye-close').toggleClass('glyphicon-eye-open');
       }
    );
  });
  

  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  });




