%h1
  ="Pages for PE #{@version}"
  .btn.btn-primary.btn-xs.button-user-flagged{:id => "flag_button"}
    Show/Hide Flagged Pages
    &nbsp;
    %span.glyphicon.glyphicon-flag


- @pages.each do |p|
  - if current_user.voted_up_on? p
    - @flagclass = "flagged"
  - else
    - @flagclass = "unflagged"
  %div{:class => @flagclass}
    %a{:href => "/pages/#{p.id}"}
      =p.title
    - if current_user.voted_up_on? p
      &nbsp;
      %span.glyphicon.glyphicon-flag

:javascript
  $(function() {
  $("#flag_button").click( function()
  {
     $('.unflagged').toggle();

    }

    );
  });
