- @title = @page.title

%h3= @page.title

%button.btn.btn-primary.button-content{:id => "composition_button", "data-toggle" => "tooltip", "data-placement" => "right", :title => "Toggle all but ordered lists and pre/code blocks" }


//=button_to( "Flag", :action => "create", :controller => "flags", :params => {:user_id => 2} )

  
//= toggle_flag(@page.id,current_user.id)


%div{:id => "imported_content"}
  != @page.content


:javascript
  $("pre").hover(
    function () {
      $(this).addClass('bg-info');
    }, function () {
      $(this).removeClass('bg-info');
  }
  );

  $("ol").hover(
    function () {
      $(this).addClass('bg-info');
    }, function () {
      $(this).removeClass('bg-info');
  }
  );
  
  $(function() {
  $("#composition_button").click( function()
  {
   var hide_elements=['blockquote','ul','dl','p','iframe','.toc','table'];
   for (var i = 0; i < hide_elements.length; i++) {
     $('#imported_content').find(hide_elements[i]).toggle();
     $('#imported_content').find('ol p').toggle();
    }

  $('#composition_button').toggleClass("button-content").toggleClass("button-uncontent");  
  $('#composition_button').toggleClass("btn-primary").toggleClass("btn-warning");

       }
    );
  });
  
  $(function() {
  $("#flag_button").click( function()
  {
   $("#flag_button").toggleClass("btn-danger").toggleClass("button-unflag");
   $("#flag_button").toggleClass("button-flag").toggleClass("btn-success");
   }
   );
   });

  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  });




