%h1
  ="Pages for PE #{@version}"
  .btn.btn-primary.btn-xs.button-user-flagged{:id => "flag_button"}
    Show/Hide Flagged Pages
    &nbsp;
    %span.glyphicon.glyphicon-flag

%p.small
  %span.glyphicon.glyphicon-flag.text-danger
  \= Flagged by you
  &nbsp;
  %span.glyphicon.glyphicon-flag.text-muted
  \= Flagged by others
  &nbsp;
  %span.glyphicon.glyphicon-comment.text-primary
  \= Has comments
  
%ul.list-unstyled
  - @classes = []
  - @pages.each do |p|
    - if p.get_upvotes.size > 0
      - flag_class = "flagged"
    - else
      - flag_class = "unflagged"
    %li{:class => flag_class}
      %a{:href => page_path(p) }
        =p.title.gsub(/— Documentation — Puppet Labs/, "")
      - if current_user.voted_up_on? p
        &nbsp;
        %span.glyphicon.glyphicon-flag.text-danger
      - if p.get_upvotes.size > 0 && current_user.voted_up_on?(p) == false || p.get_upvotes.size > 1 && current_user.voted_up_on?(p) == true
        &nbsp;
        %span.glyphicon.glyphicon-flag.text-muted
      - if p.comments.size > 0
        &nbsp;
        %span.glyphicon.glyphicon-comment.text-primary
          
:javascript
  $(function() {
  $("#flag_button").click( function()
  {
     $('.unflagged').toggle();
    }

    );
  });

