%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to "Tags", tags_path
  %li.inactive
    = @tag

%table.table.sortable
  %thead 
    %tr
      %th
        Reviewed
      %th{:"data-defaultsort" => "desc"}
        Priority
      %th
        Risk
      %th
        Page
      %th
        Tags
  %tbody        
    - @pages.each do |page|
      = render :partial => "pages/pages_row", :locals => {:page => page}
      
:javascript
