  
%h3
  = @title

%table.table.sortable
  %thead 
    %tr
      %th{:"data-defaultsort" => "desc"}
        Risk
      %th
        Priority
      %th
        Page
      %th
        Tags
  %tbody        
    - @pages.each do |p|
      = render :partial => "pages/pages_row", :locals => {:p => p}
      
:javascript
