%ol.breadcrumb
  %li
    %a{:href => root_path}
      Home
  %li.inactive
    All Tags

%ul    
  - @tags.each do |t|
    %li
      %a{:href => "/tags/#{t.name}"}
        = t.name
      = "(#{t.taggings_count})"
      
