%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li.active
    Projects

%table.table
  %thead 
    %tr
      %th
        Project
      %th
        Versions
      %th
        Description
      - if current_user.try(:super?)
        %th
          Edit

  %tbody        

    - @projects.each do |p|
      %tr
        %td
          = link_to p.display_name, p
    
        %td
          = p.versions.count
        %td
          = p.description
        
        - if current_user.try(:super?)
          %td
            =link_to edit_project_path(p) do 
              %button.btn.btn-danger.btn-xs
                Edit
