%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to @version.project.nice_name, project_path(@version.project)
  %li.active
    = @version.version_number
  
.btn.btn-danger.btn-xs.button-user-flagged{:id => "risk_button"}
  High-Risk Pages
  &nbsp;
  %span.glyphicon.glyphicon-fire


%table.table.sortable
  %thead 
    %tr
      %th
        Risk
      %th
        Page
      %th
        Tags
  %tbody        
    - @version.pages.each do |p|
      = render :partial => "pages/pages_row", :locals => {:p => p}
      
:javascript
  $(function() {
  $("#flag_button").click( function()
  {
     $('.unflagged').toggle();
    }

    );
  });

  $(function() {
  $("#risk_button").click( function()
  {
     $('.low_risk').toggle();
    }

    );
  });
