%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to @version.project.nice_name, project_path(@version.project)
  %li.active
    = @version.version_number

%table.table.sortable
  %thead 
    %tr
      %th{:"data-defaultsort" => "desc"}
        Risk
        
      %th
        Priority
      %th
        Page
      %th
        Tags
  %tbody        
    - @version.pages.each do |p|
      = render :partial => "pages/pages_row", :locals => {:p => p}
      
:javascript

  $(function() {
  $("#priority_button").click( function()
  {

     $("tr[data-priority=2]").toggle();
     $("tr[data-priority=1]").toggle();


    }
    );
  });

  $(function() {
  $("#risk_button").click( function()
  {

     $("tr[data-risk=2]").toggle();
     $("tr[data-risk=1]").toggle();
    }
    );
  });


  $( document ).ready(function() {
  $.bootstrapSortable(true);
  });
