%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to @version.project.nice_name, project_path(@version.project)
  %li.active
    = @version.version_number
  
%table.table.sortable
  %thead 
    %tr
      %th{:"data-defaultsort" => "desc"}
        Risk
      %th
        Priority
      %th
        Page
      %th
        Tags
  %tbody        
    - @version.pages.each do |p|
      = render :partial => "pages/pages_row", :locals => {:p => p}
      
:javascript
  $( document ).ready(function() {
  $.bootstrapSortable(true);
  });
