%ol.breadcrumb
  %li
    = link_to "Home", root_path
  %li.active
    Technical Publications Priorities

%button.btn.btn-primary.btn-xs.pull-right{:id => "unknown_toggle"}
  Toggle Unknowns
  %nbsp
  %span.glyphicon.glyphicon-question-sign

%br
%br    
%table.table.sortable
  %thead 
    %tr
      %th
        Risk
      %th
        Area
      %th
        Priority
      %th
        Coverage
      %th
        Required Support
      %th
        Effort
      - if current_user.try(:super?)
        %th
          Manage
        
        
  %tbody        
    - areas.each do |area|
      = render :partial => "areas/index_row", :locals => {:area => area}
            

- if current_user.try(:super?)
  = link_to "New Area", new_area_path, :class => "btn btn-primary btn-xs"
%br
%br

:javascript
  $(function() {
  $("#unknown_toggle").click( function()
  {
    $('tr[data-value="unknown"]').toggle();

  }
  );
  });
