- unless user_signed_in? == false
  %h3 Projects and Versions
  - Project.all.each do |project|
    %h4
      = project.nice_name
    %ul
      - project.versions.each do |version|
        %li
          = link_to version.version_number, project_version_path(:id => version.id, :project_id => project.id)
