.col-md-9.col-md-offset-1
  :markdown
  
    ### Overview
  
    The app thinks of our docs as **projects**, **versions**, and
    **pages**.

    * **Projects** are things like Puppet Enterprise, Puppet,
    Hiera, and Facter.

    * **Versions** are versions of those projects. Versions can be
    **active** (currently under development, or the most current
    release) or **inactive** (not under development, not the most
    current release).
    
    * **Pages** are individual pages of documentation.
    
    ### Getting Started

  :markdown
    You can access the projects from the `Project` menu item at the top
    of the screen. That will open a page showing the versions available
    for the project. From there, you can select a version to work on by
    clicking on it.

    ### Get Here From a Page on the Docs Site

    If we're tracking a page in this tool, you can find your way to
    it from the docs site by using this bookmarklet. Drag it to
    your bookmarks bar and click it when you're visiting a tracked
    page on the website:

  %a{:href => "javascript:(function(){location.href='http://#{hostname}/find_page?url='+encodeURIComponent(location.href);})();",
     :onclick => "alert('Drag and drop me to your toolbar');return false;",
     :class => 'btn btn-sm btn-warning'}
    Docs Decomposer


  :markdown
    ### Using the Version Page
  
    The version page shows a table of all files in that version. If
    you're a technical writer, you can set the priority or risk for
    each page without having to open the page.
  
    ### Using Individual Pages
    
    Individual pages have tools that allow you to:
  
    * Comment on the page
    * Add or remove tags from the page
    * Set the risk or priority of the page
   
    ### More Documentation
   
    More documentation is available on [the manual page](/docs). 
  
  
