.col-md-8.col-md-offset-2
  %p
    .panel.panel-primary
      .panel-heading
        Missing URL
      .panel-body
        = url
  %p
    Unfortunately, we don't seem to have that page in our system. 
    Please drop a line to 
    %a{:href => "mailto:mike.hall@puppetlabs.com"}
      Mike
    and let him know what happened. Make sure to include the above URL.
